@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;
@using ServiciosWeb.ClienteWeb.Helpers;

@model ServiciosWeb.Dominio.UsuarioRestaurante

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_free.cshtml";
}



<div class="col-md-8">

    <center>
        <h2>REGISTRAR USUARIO</h2>
    </center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario.usua_email, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Usuario.usua_email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Usuario.usua_email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario.usua_pass, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.PasswordFor(model => model.Usuario.usua_pass, new { @class = "form-control"  })
            @Html.ValidationMessageFor(model => model.Usuario.usua_pass, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Usuario.usua_pass_repetir, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">

            @Html.PasswordFor(model => model.Usuario.usua_pass_repetir, new {@class = "form-control" })
            @Html.ValidationMessageFor(model => model.Usuario.usua_pass_repetir, "", new { @class = "text-danger" })

        </div>
    </div>

    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario.usua_nomb, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Usuario.usua_nomb, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Usuario.usua_nomb, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario.usua_dni, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Usuario.usua_dni, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Usuario.usua_dni, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">

        <div class="col-md-3">
            @Html.Label("Nro de Contacto", htmlAttributes: new { @class = "control-label" })

        </div>


        <div id="divContentContacto" class="col-md-8">

            <div class="row clonar">
                @Html.ContactoControlFor(model => model.CodigoContacto, "Contacto", Model.ListTipoTelefono)

                <div class="col-md-2">

                    <input type="button" value="Quitar" class="btn btn-default" onclick="remove(0)" />

                </div>

            </div>



        </div>


    </div>


    <div class="form-group">
        <div class="col-md-3">

        </div>
        <div class="col-md-8">
            <input type="button" value="Agregar" class="btn btn-default" onclick="agregar()" />

        </div>

    </div>


    <input type="hidden" id="hidenTelefonos" value="@Model.Telefonos" />

    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Restaurante.rest_rz, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Restaurante.rest_rz, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Restaurante.rest_rz, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Restaurante.rest_ruc, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Restaurante.rest_ruc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Restaurante.rest_ruc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Captcha (*)", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.MathCaptcha()
        </div>
    </div>


    <div  class="alert alert-danger" id="divAlerta" role="alert">
        @Html.ValidationMessage("MensajeGeneral",htmlAttributes: new { @id = "spanError" })
    </div>

    <div class="form-group">
        <center>

            <input type="button" value="Cancelar" class="btn btn-default"  
                   onclick="location.href='@Url.Action("Index", "Home", new { })'"
                   />
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </center>
    </div>

</div>

    }

</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {


            let errorMensaje = $("#spanError").html();

            if (errorMensaje == "") {

                $("#divAlerta").hide();

            } else {
                $("#divAlerta").show();

            }


            let varTelefono = $("#hidenTelefonos").val();

            if (varTelefono != "") {

                let objTelefonos = JSON.parse(varTelefono);

                if (objTelefonos != null) {


                    if (objTelefonos.length > 0) {

                        let cantidadContacto = 1;
                        

                        for (row in objTelefonos) {

                            item = objTelefonos[row];

                            let objDiv = $(".clonar:last").clone();
                            objDiv.attr("id", "clonar" + cantidadContacto);


                            

                            let select = objDiv.find("select");
                            let input = objDiv.find("input[type=text]");
                            let button = objDiv.find("input[type=button]");


                            objDiv.find('select option').each(function(i, e)
                            {
                                e.selected = false
                            });

                         

                            select.attr("name", "slCodigoContacto" + cantidadContacto);
                            input.attr("name", "txtCodigoContacto" + cantidadContacto);


                            select.attr("id", "slCodigoContacto" + cantidadContacto);
                            input.attr("id", "txtCodigoContacto" + cantidadContacto);



                            objDiv.find("select option[value='" + item.CodigoTipoTelefono + "']").attr("selected", true);
                            input.attr("value", item.NumeroTelefono);


                            button.attr("onclick", "remove(" + cantidadContacto + ")");


                            $("#divContentContacto").append(objDiv);

                            cantidadContacto++;
                        }

                        $('.clonar').first().remove();


                    }


                }

            }

        });

        function remove(item) {

             
            let cantidadContacto = $('.clonar').length;


            if (cantidadContacto > 1) {

                 $("#clonar" + item).remove();
            }
           



        }

        function agregar() {

            let objDiv = $(".clonar:last").clone();
           
            let cantidadContacto = $('.clonar').length;

            cantidadContacto = cantidadContacto + 1;

             objDiv.attr("id", "clonar" + cantidadContacto);

            objDiv.find("select").attr("name", "slCodigoContacto" + cantidadContacto);
            objDiv.find("input[type=text]").attr("name", "txtCodigoContacto" + cantidadContacto);


            objDiv.find("select").attr("id", "slCodigoContacto" + cantidadContacto);
            objDiv.find("input[type=text]").attr("id", "txtCodigoContacto" + cantidadContacto);


            let button = objDiv.find("input[type=button]");
            button.attr("onclick","remove("+cantidadContacto+")");

            $("#divContentContacto").append(objDiv);

        }

    </script>


}
