@model ServiciosWeb.Dominio.Modelo.GestionMenuModel

@{
    ViewBag.Title = "GestionMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestion de Menus</h2>




<style>



    .selected {
        background-color: #ff6a00
    }
</style>


<hr />

<div class="row">



    <div class="col-md-6">



        @Html.Partial("MantMenu", Model.Menu)


        <div class="box-body">

            <div class="table-responsive">

                <table id="gridListaMenu" data-dataurl="@Url.Action("LitaMenu", "Restaurante", new { })" class="table table-bordered table-hover"></table>


            </div>

        </div>

    </div>


    <div class="col-md-6">


        <fieldset>

            <legend id="legendDetalle"> </legend>


            @Html.Partial("MantMenuDetalle", Model.MenuDetalle)




        </fieldset>


        <div class="box-body">

            <div class="table-responsive">

                <table id="gridListaMenuDetalle" data-dataurl="@Url.Action("LitaMenuDetalle", "Restaurante", new { })" class="table table-bordered table-hover"></table>


            </div>

        </div>

    </div>


    <input type="hidden" id="hindeEliminarMenuDetalle" data-dataurl="@Url.Action("EliminarMenuDetalle", "Restaurante", new { })" />
    <input type="hidden" id="hindeEliminarMenu" data-dataurl="@Url.Action("EliminarMenu", "Restaurante", new { })" />
    <input type="hidden" id="hindePublicarMenu" data-dataurl="@Url.Action("PublicarMenu", "Restaurante", new { })" />
    

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">


        var gridListaMenu = "#gridListaMenu";
        var gridListaMenuDetalle = "#gridListaMenuDetalle";

        $(document).ready(function () {

            CargarGrillListaMenuDetalle();
            CargarGrillListaMenu();

            var tableMenu = $(gridListaMenu).DataTable();

            $('#gridListaMenu tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    tableMenu.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

               
                let objRow = tableMenu.row('.selected').data();

                $("#legendDetalle").html(objRow.menu_nombre);
                $("#hidenCodigoMenu").val(objRow.menu_id);

                 $(gridListaMenuDetalle).dataTable().fnDraw();

            });


            $(gridListaMenu).on("click", ".chkPublicar", function () {
                var thisCheck = $(this);

                let selecionado = false;

                if (thisCheck.is(':checked')) {

                    selecionado = true;

                } else {
                    selecionado = false;
                }



                DatosCheck = thisCheck.data("codigo");

                let UrlPublicar = $("#hindePublicarMenu").data("dataurl");
            
                $.ajax(
                    {
                        type: "POST",
                        async: true,
                        url: UrlPublicar,
                        data: { "datos": DatosCheck, "select": selecionado },
                        success: function (data) {



                        },
                        error: function (request, status, error) {
                            alert(error);
                        }

                    });


            });

            $("#frmMenu").submit(function (e) {

                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {

                        $(gridListaMenu).dataTable().fnDraw();

                    }
                });


            });


            $("#frmMenuDetalle").submit(function (e) {

                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {

                        $(gridListaMenuDetalle).dataTable().fnDraw();

                    }
                });


            });


        });




        function CargarGrillListaMenu() {


            var url = $(gridListaMenu).data("dataurl");

            $(gridListaMenu).DataTable({
                "bProcessing": true,
                "bServerSide": true,
                "paging": true,
                "ordering": false,
                "lengthChange": false,
                "searching": false,
                "info": true,
                "autoWidth": false,
                "sAjaxSource": url,
                "oLanguage": {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar: _MENU_ ", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "_START_ al _END_ de _TOTAL_ registro(s)", "sInfoEmpty": "0 al 0 de 0 registro(s)",
                    "sInfoFiltered": "(filtrado de _MAX_)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...",
                    "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                "aoColumns": [
                    {
                        "mData": null, "sTitle": "Seleccionar", "sWidth": "50px", "sClass": "usr-dt-center", "mRender": function (data, type, full) {


                            var acciones = ("<center><input type=\"checkbox\"    class=\"chkSelectMenu\" data-codigo=\"" + full.menu_id + "\"  /></center>");

                            return acciones;

                        }
                    },
                    { "mData": "menu_id", "sTitle": "Nro", "sWidth": "80px", },
                    { "mData": "menu_nombre", "sTitle": "Descripcion", "sWidth": "80px", },

                    {
                        "mData": null, "sTitle": "Publicar Menu", "sWidth": "50px", "sClass": "usr-dt-center", "mRender": function (data, type, full) {


                            let checked = "";

                            if (full.menu_publicado) {
                                checked = "checked";
                            }

                            var acciones = ("<center><input type=\"checkbox\"  "+checked+"  class=\"chkPublicar\" data-codigo=\"" + full.menu_id + "\"  /></center>");

                            return acciones;

                        }
                    },

                ],
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "url": sSource,
                        "data": aoData,
                        "dataType": 'json',
                        "type": "POST",
                        "success": function (responde, textStatus, jqXHR) {

                            if (responde.OperacionType.estado_operacion == "0") {
                                fnCallback(responde.DataTableResponse);
                            }
                            else {

                                alert(responde.OperacionType.mensaje_operacion);

                            }

                        },
                        "error": function (data) {

                            alert(data.status);



                        },
                        "complete": function (xhr, status) {

                        },

                    });
                },
                "fnServerParams": function (aoData) {

                    var Parameter = new Object();
                    Parameter.RucRestaurante = "";


                    RequestOperacionBE = new Object();
                    RequestOperacionBE.OperacionType = new Object();
                    RequestOperacionBE.OperacionType.codigo_operacion = "ListarMenu";
                    RequestOperacionBE.OperacionType.Objeto1 = JSON.stringify(Parameter);


                    aoData.push({ name: "sData", value: JSON.stringify(RequestOperacionBE) });
                },
            });
        }


      function CargarGrillListaMenuDetalle() {


            var url = $(gridListaMenuDetalle).data("dataurl");

            $(gridListaMenuDetalle).DataTable({
                "bProcessing": true,
                "bServerSide": true,
                "paging": true,
                "ordering": false,
                "lengthChange": false,
                "searching": false,
                "info": true,
                "autoWidth": false,
                "sAjaxSource": url,
                "oLanguage": {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar: _MENU_ ", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "_START_ al _END_ de _TOTAL_ registro(s)", "sInfoEmpty": "0 al 0 de 0 registro(s)",
                    "sInfoFiltered": "(filtrado de _MAX_)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...",
                    "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                "aoColumns": [
                    {
                        "mData": null, "sTitle": "Seleccionar", "sWidth": "50px", "sClass": "usr-dt-center", "mRender": function (data, type, full) {
                            var acciones = ("<center><input type=\"checkbox\"    class=\"chkSelectMenuDetalle\" data-codigo=\"" + full.mede_id + "\"  /></center>");
                            return acciones;
                        }
                    },
                    { "mData": "mede_id", "sTitle": "Nro", "sWidth": "80px", },
                    { "mData": "pro_descripcion", "sTitle": "Descripcion", "sWidth": "80px", },
                    { "mData": "mede_precio", "sTitle": "Precio", "sWidth": "80px", },

                ],
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "url": sSource,
                        "data": aoData,
                        "dataType": 'json',
                        "type": "POST",
                        "success": function (responde, textStatus, jqXHR) {

                            if (responde.OperacionType.estado_operacion == "0") {

                                fnCallback(responde.DataTableResponse);
                            }
                            else {

                                alert(responde.OperacionType.mensaje_operacion);

                            }

                        },
                        "error": function (data) {

                            alert(data.status);



                        },
                        "complete": function (xhr, status) {

                        },

                    });
                },
                "fnServerParams": function (aoData) {

                    var Parameter = new Object();
                    Parameter.CodigoMenu = $("#hidenCodigoMenu").val();


                    RequestOperacionBE = new Object();
                    RequestOperacionBE.OperacionType = new Object();
                    RequestOperacionBE.OperacionType.codigo_operacion = "ListarMenuDetalle";
                    RequestOperacionBE.OperacionType.Objeto1 = JSON.stringify(Parameter);

                    aoData.push({ name: "sData", value: JSON.stringify(RequestOperacionBE) });

                },
            });
        }




        function EliminarMenuDetalle() {

            var DatosCheck = "";


            $('.chkSelectMenuDetalle:checked').each(
                function () {
                    DatosCheck = DatosCheck + ";" + $(this).data("codigo");

                }
            );


            letUrl = $("#hindeEliminarMenuDetalle").data("dataurl");

            $.ajax(
                {
                    type: "POST",
                    async: true,
                    url: letUrl,
                    data: { datos: DatosCheck },
                    success: function (data) {


                        $(gridListaMenuDetalle).dataTable().fnDraw();

                    },
                    error: function (request, status, error) {
                        alert(error);
                    }

                });
        }


        function EliminarMenu() {

            var DatosCheck = "";


            $('.chkSelectMenu:checked').each(
                function () {
                    DatosCheck = DatosCheck + ";" + $(this).data("codigo");

                }
            );


            letUrl = $("#hindeEliminarMenu").data("dataurl");

            $.ajax(
                {
                    type: "POST",
                    async: true,
                    url: letUrl,
                    data: { datos: DatosCheck },
                    success: function (data) {


                        $(gridListaMenu).dataTable().fnDraw();

                        $("#hidenCodigoMenu").val(0);
                        $("#legendDetalle").html("");
                       $(gridListaMenuDetalle).dataTable().fnDraw();

                    },
                    error: function (request, status, error) {
                        alert(error);
                    }

                });
        }

        



    </script>



}
