@model ServiciosWeb.Dominio.Modelo.MantenimientoListaPrecioModel

@{
    ViewBag.Title = "MantenimientoListaPrecio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LISTA DE PRECIOS</h2>

@using (Html.BeginForm("MantenimientoListaPrecio", "Restaurante", FormMethod.Post, new { id = "frmId", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()


    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.DescripcionProducto, htmlAttributes: new { @class = "control-label" })
        <br />
        @Html.EditorFor(model => model.DescripcionProducto, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DescripcionProducto, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrecioProducto, htmlAttributes: new { @class = "control-label" })
        <br />
        @Html.EditorFor(model => model.PrecioProducto, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PrecioProducto, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CodigoTipoComida, new { @class = "control-label" })
        
            @Html.DropDownListFor(model => model.CodigoTipoComida, Model.ListComida, "Seleccionar", new { id = "ddlTipoComida", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CodigoTipoComida, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CodigoTipoComida, new { id = "hidenCodigoTipoComida" })

        
    </div>

    <div class="form-group">

        <button type="button" id="btnAgregar" class="btn btn-primary btn-circle btn-sm"> + </button>
        <button type="button" id="btnRemover" class="btn btn-secondary btn-circle btn-sm"> - </button>

    </div>

}







