
@using ServiciosWeb.ClienteWeb.Helpers;

@model ServiciosWeb.Dominio.UsuarioRestauranteModel

@{
    ViewBag.Title = "MisDatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis Datos</h2>


<div class="row">


    <div class="col-md-8">

        





        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Razon Social: ", htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-8">
                    @Model.rest_rz
                </div>
            </div>


            <div class="form-group">
                @Html.Label("RUC: ", htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-8">

                    @Model.rest_ruc


                </div>
            </div>


            <div class="form-group">
                @Html.Label("Email: ", htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-8">
                    @Model.usua_email
                </div>
            </div>



            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.rest_nomcomer, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.rest_nomcomer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rest_nomcomer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.usua_direc, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.usua_direc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usua_direc, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.dist_id, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.dist_id, Model.Distritos, "Seleccionar", new { id = "ddlDistrito", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.dist_id, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.dist_id, new { id = "hidenCodigoDistrito" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.usua_refedirec, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.usua_refedirec, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-3">
                    @Html.Label("Nro de Contacto", htmlAttributes: new { @class = "control-label" })

                </div>


                <div id="divContentContacto" class="col-md-8">

                    <div class="row clonar">
                        @Html.ContactoControlFor(model => model.CodigoContacto, "Contacto", Model.ListTipoTelefono)

                        <div class="col-md-2">

                            <input type="button" value="Quitar" class="btn btn-default" onclick="remove(0)" />

                        </div>

                    </div>



                </div>


            </div>

            <div class="form-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-8">
                    <input type="button" value="Agregar" class="btn btn-default" onclick="agregar()" />

                </div>

            </div>


            <input type="hidden" id="hidenTelefonos" value="@Model.Telefonos" />

            <div class="form-group">
                @Html.LabelFor(model => model.esti_id, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.esti_id, Model.EspecialidadTipo, "Seleccionar", new { id = "ddlTipoEspecialidad", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.esti_id, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.esti_id, new { id = "hidenCodigoDistrito" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.rest_descrip, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.rest_descrip, new { @class = "form-control" })



                </div>
            </div>

            <div class="form-group">
                @Html.Label(" ", new { @class = "col-md-3 control-label" })
                <div class="col-lg-4">
                    @Html.Label("Hace Delivery", new { @class = "control-label" })

                    @Html.CheckBoxFor(m => m.rest_delivery, new { })
                    @Html.ValidationMessageFor(model => model.rest_delivery, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.rest_delivery, new { id = "hidenCodigoDistrito" })

                </div>
                <div class="col-lg-4">
                    @Html.Label("Hace Reserva Local", new { @class = "control-label" })
                    @Html.CheckBoxFor(m => m.rest_reservalocal, new { })
                    @Html.ValidationMessageFor(model => model.rest_reservalocal, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.rest_reservalocal, new { id = "hidenCodigoDistrito" })

                </div>
            </div>


            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.uscta_numero, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.uscta_numero, new { @class = "form-control" })

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.ticta_id, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ticta_id, Model.TipoCuenta, "Seleccionar", new { id = "ddlTipoCuenta", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ticta_id, "", new { @class = "text-danger" })


                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.uscta_titular, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.uscta_titular, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.uscta_titular, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="alert alert-danger" id="divAlerta" role="alert">
                @Html.ValidationMessage("MensajeGeneral", htmlAttributes: new { @id = "spanError" })
            </div>

            <div class="form-group">
                <center>
                    <input type="button" value="Cancelar" class="btn btn-default"
                           onclick="location.href='@Url.Action("Index", "Home", new { })'" />
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </center>
            </div>


        </div>

        }

    </div>


    <div class="col-md-4">
        Fotos
    </div>

    @section scripts{

        <script type="text/javascript">

            $(document).ready(function () {

                let errorMensaje = $("#spanError").html();

                if (errorMensaje == "") {

                    $("#divAlerta").hide();

                } else {
                    $("#divAlerta").show();

                }

                let varTelefono = $("#hidenTelefonos").val();

                if (varTelefono != "") {

                    let objTelefonos = JSON.parse(varTelefono);

                    if (objTelefonos != null) {


                        if (objTelefonos.length > 0) {

                            let cantidadContacto = 1;


                            for (row in objTelefonos) {

                                item = objTelefonos[row];

                                let objDiv = $(".clonar:last").clone();
                                objDiv.attr("id", "clonar" + cantidadContacto);




                                let select = objDiv.find("select");
                                let input = objDiv.find("input[type=text]");
                                let button = objDiv.find("input[type=button]");


                                objDiv.find('select option').each(function (i, e) {
                                    e.selected = false
                                });



                                select.attr("name", "slCodigoContacto" + cantidadContacto);
                                input.attr("name", "txtCodigoContacto" + cantidadContacto);


                                select.attr("id", "slCodigoContacto" + cantidadContacto);
                                input.attr("id", "txtCodigoContacto" + cantidadContacto);



                                objDiv.find("select option[value='" + item.CodigoTipoTelefono + "']").attr("selected", true);
                                input.attr("value", item.NumeroTelefono);


                                button.attr("onclick", "remove(" + cantidadContacto + ")");


                                $("#divContentContacto").append(objDiv);

                                cantidadContacto++;
                            }

                            $('.clonar').first().remove();


                        }


                    }

                }

            });

            function remove(item) {


                let cantidadContacto = $('.clonar').length;


                if (cantidadContacto > 1) {

                    $("#clonar" + item).remove();
                }




            }

            function agregar() {

                let objDiv = $(".clonar:last").clone();

                let cantidadContacto = $('.clonar').length;

                cantidadContacto = cantidadContacto + 1;

                objDiv.attr("id", "clonar" + cantidadContacto);

                objDiv.find("select").attr("name", "slCodigoContacto" + cantidadContacto);
                objDiv.find("input[type=text]").attr("name", "txtCodigoContacto" + cantidadContacto);


                objDiv.find("select").attr("id", "slCodigoContacto" + cantidadContacto);
                objDiv.find("input[type=text]").attr("id", "txtCodigoContacto" + cantidadContacto);


                let button = objDiv.find("input[type=button]");
                button.attr("onclick", "remove(" + cantidadContacto + ")");

                $("#divContentContacto").append(objDiv);

            }

        </script>


    }
</div>
