<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>


    <link rel="stylesheet" href="@Url.Content("~/Plugins/datatables/dataTables.bootstrap.css")">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




    <style type="text/css">
        h1 {
            color: green;
        }

        .xyz {
            background-size: auto;
            text-align: center;
            padding-top: 100px;
        }

        .btn-circle.btn-sm {
            width: 40px;
            height: 40px;
            padding: 6px 6px 6px 6px;
            border-radius: 20px;
            font-size: 20px;
            text-align: center;
        }

        .btn-circle.btn-md {
            width: 50px;
            height: 50px;
            padding: 7px 10px;
            border-radius: 25px;
            font-size: 10px;
            text-align: center;
        }

        .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Restaurante", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Gestion Lista Precio", "MantenimientoListaPrecio", "Restaurante")</li>
                    <li>@Html.ActionLink("Gestion Menu", "GestionMenu", "Restaurante")</li>
                    <li>@Html.ActionLink("Gestion Reserva", "Index", "Restaurante")</li>
                    <li>@Html.ActionLink("Gestion Pedido", "Index", "Restaurante")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            +  Opciones <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>

                                <a href="@Url.Action("MisDatos", "Restaurante", new { })">Mis Datos</a>

                            </li>
                            <li><a href="@Url.Action("CambiarContrasena", "Usuario", new { })">Cambiar Contraseña</a></li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Cerrar Sesión", "SignOut", "Home", new { }, new { })</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Plugins/dataTables/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Plugins/dataTables/dataTables.bootstrap.js")" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
