@model ServiciosWeb.Dominio.Modelo.Login

@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ingresar a WUF</title>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 15% auto;
        }
    </style>


</head>
<body>






    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { ReturnUrl = Model.ReturnUrl, id = "form-signin", @class = "form-signin" }))
    {
        <p class="login-box-msg">

            @Html.ValidationSummary("", new { @class = "alert-danger" })
            @Html.HiddenFor(model => model.ReturnUrl)
        </p>


        <div class="login-form">
            <form action="" method="post">
                <h2 class="text-center">INICIAR SESION</h2>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.correo, new { @class = "form-control", @placeholder = "Email", @type = "email", @required = "required" })

                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.password, new { @class = "form-control", @placeholder = "Contraseña", @type = "password", @required = "required" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
                @ViewBag.Mensaje

            </form>


            <div class="clearfix">
                <p class="text-left">
                    Registrarme Como :
                    <a href="@Url.Action("NuevoColaborador", "Colaborador")">Cliente</a>        @Html.ActionLink("Empresa", "Create", "UsuarioRestaurante", new { }, new { })
                </p>





            </div>

        </div>

    }

    <script type="text/javascript">

        if (history.forward(1)) {

            location.replace(history.forward(1));

        }

    </script>
</body>
</html>
